<li class="span4">
  <%= link_to(image_tag(minify_img_path(attachment_image.id)), article_attachment_path(attachment_image.article, attachment_image), :rel => "lightbox", :class => "thumbnail", :title => attachment_name(attachment_image)) %>
</li>
