<%= form_for(@feedback) do |f| %>
  <div class="field">
    <%= f.text_area :question %>
  </div>
  <div class="actions">
    <%= f.submit t(:submit, scope: :feedbacks), class: "button small" %>
  </div>
<% end %>
