body {
  background-image: url("/assets/isma.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
article {
  font-size : 0.9em;
  line-height : normal;
  text-align : justify;
}

ul, ol {
  list-style-position: inside;
  font-size: 0.9em;
}
.timestamp, .authors {
  font-size : 0.95em;
  line-height: normal;
  font-style : italic;
}
article > header > h1 {
  font-size : 1.5em;
  text-align : left;
}
.news > h1 {
  font-size : 1.5em;
}
article > a {
  margin-right : 1em;
}
article > h2 {
  font-size : 1.2em;
}
.panel {
  border-radius : 10px;
  border : 1px solid gray;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding : 1em;
  background-color: rgba(237,237,237,0.9);
}
h1 {
  text-align : left;
}
.title > h1 {
  color : #cd2626;
  font-family : Garamond, serif;
  font-size : 250%;
}

.title > img {
  margin-right: 1em;
}
table {
  text-align: center;
}
.rows-40 {
  height: 40em;
}
.hidden {
  display: none;
}