<ul class="no-bullet">
  <li><i class="fi-eye"></i>&nbsp;<%= number_with_delimiter(@views, delimiter: " ") %></li>
  <li><i class="fi-download"></i>&nbsp;<%= number_with_delimiter(@downloads, delimiter: " ") %></li>
</ul>